:root {
    --primary: #667eea;
    --secondary: #764ba2;
    --bg: #f4f7f6;
    --card-bg: #ffffff;
    --text: #333;
    --winner: #ffd700; /* Dourado */
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--bg);
    margin: 0;
    color: var(--text);
}

header {
    background: #333;
    padding: 15px 0;
    height: 70px;
}


.header-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo{
    color: white;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #555;
}

.nav-back {
    color: white;
    text-decoration: none;
    font-size: 0.9em;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px; 
}

.analysis-title {
    text-align: center;
    margin-bottom: 40px;
}

/* Área dos Cards (Ringue) */
.fighters-ring {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
    box-shadow: 10px 0px 20px #333;
    border-left: 5px solid #333;
    border-radius: 10px;
}

.fighter-card {
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.05);
    text-align: center;
    flex: 1;
    position: relative;
    border: 2px solid transparent;
    transition: transform 0.3s;
}

.fighter-card.winner {
    border-color: var(--winner);
    transform: scale(1.05);
    box-shadow: 0 15px 35px rgba(255, 215, 0, 0.2);
}

.medal {
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    background: var(--winner);
    color: #5a4a00;
    padding: 5px 15px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 0.9em;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.specs-summary {
    color: #777;
    font-size: 0.9em;
    margin-bottom: 15px;
}

.big-score {
    font-size: 3.5em;
    font-weight: 800;
    color: #333;
}

.vs-divider {
    font-weight: bold;
    color: #ccc;
    font-size: 1.5em;
}

/* Veredito Texto */
.verdict-box {
    background: linear-gradient(135deg, #fff 0%, #f0f2ff 100%);
    border-left: 5px solid #333;
    padding: 25px;
    border-radius: 8px;
    margin-bottom: 40px;
    box-shadow: 10px 0px 30px #333;
}

.verdict-box h3 { 
    color: #333; 
}

/* Barras de Progresso */
.details-section {
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

.stat-row {
    margin-bottom: 25px;
}

.stat-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 0.9em;
}

.bar-container {
    display: flex;
    height: 12px;
    background: #eee;
    border-radius: 6px;
    overflow: hidden;
}

.bar-left { background: var(--primary); height: 100%; transition: width 1s ease; }
.bar-right { background: #ff6b6b; height: 100%; transition: width 1s ease; } /* Cor diferente para diferenciar */

.bar-separator { width: 2px; background: white; }

/* Botão */
.btn-restart {
    display: inline-block;
    background: #333;
    color: white;
    padding: 12px 30px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s;
}
.btn-restart:hover { background: #555; }

@media (max-width: 768px) {
    .fighters-ring { flex-direction: column; }
    .vs-divider { margin: 10px 0; transform: rotate(90deg); }
}

.menu-hamburguer {
    font-size: 28px;
    cursor: pointer;
    display: none; /* some no desktop */
}

nav ul {
    display: flex;
}

@media (max-width: 768px) {

    /* mostra o botão */
    .menu-hamburguer {
        display: block;
        color: white;
    }

    /* esconde o menu */
    nav {
        display: none;
        position: absolute;
        top: 60px;
        right: 20px;
        background-color: #333;
        border-radius: 8px;
        width: 200px;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 0;
    }

     nav ul li a {
        display: block;
        padding: 12px;
    }

    /* quando estiver ativo */
    nav.active {
        display: block;
    }
}